<h3>Dynamic Columns</h3>
<p-table #dt [columns]="cols" [value]="projectTracker" [paginator]="true" [rows]="2" [frozenColumns]="frozenCols" [scrollable]="true"
  [frozenWidth]="frozenWidth + 'px'" [resizableColumns]="true" columnResizeMode="expand">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" style="width: 200px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="['projectName', 'subprojectName'].includes(col.field)" [ngStyle]="{'min-width': col.width + 'px'}">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th #eleth *ngFor="let col of columns" [ngSwitch]="col.field">
        <div *ngSwitchCase="'projectName'" style="height: 100%; display: flex; align-items: center; justify-content: center;">
          <div style="position:absolute; min-width: 80px;">
            <p-dropdown [options]="certificationStages" [style]="{'width': (frozenWidth/frozenCols.length - 20) + 'px'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </div>
        </div>
        <!-- <input *ngSwitchCase="'projectName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"> -->
        <!-- <div *ngSwitchCase="'year'">
          Value
          < {{yearFilter}} <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)"
            style="cursor:pointer" *ngIf="yearFilter"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
        </div>-->
        <div *ngSwitchCase="'registrationDate'" style="height: 100%; display: flex; align-items: center; justify-content: center;">
          <div style="position:absolute; min-width: 80px;" [ngStyle]="{'width': eleth.offsetWidth - 20 + 'px'}">
            <p-dropdown [options]="certificationStages" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </div>
        </div>
        <div *ngSwitchCase="'preliminaryCertificationDate'" style="height: 100%; display: flex; align-items: center; justify-content: center;">
          <div style="position:absolute; min-width: 80px;">
            <p-dropdown [options]="certificationStages" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </div>
        </div>
        <div *ngSwitchCase="'certificationStage'" style="height: 100%; display: flex; align-items: center; justify-content: center;">
          <div style="position:absolute; min-width: 80px;">
            <p-multiSelect [style]="{'width':'100%'}" [options]="certificationStages" defaultLabel="All Stage" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
          </div>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" class="ui-resizable-column">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>