/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

.ui-table .ui-table-frozen-view .ui-table-tbody > tr > td,
.ui-table .ui-table-unfrozen-view .ui-table-tbody > tr > td {
    height: 24px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-table .ui-table-frozen-view .ui-table-thead > tr > th,
.ui-table .ui-table-unfrozen-view .ui-table-thead > tr > th {
    height: 51px !important;
    max-height: 51px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-table .ui-table-unfrozen-view .ui-table-tbody > tr > td:first-child,
.ui-table .ui-table-unfrozen-view .ui-table-thead > tr > th:first-child {
    border-left: none;
}

.ui-table .ui-table-unfrozen-view .ui-table-thead > tr:first-child > th,
.ui-table .ui-table-frozen-view .ui-table-thead > tr:first-child > th {
    border-top: none;
}

.ui-table .ui-table-unfrozen-view .ui-table-tbody > tr:last-child > td {
    border-bottom: none;
}

.ui-table .ui-table-unfrozen-view .ui-table-tbody > tr > td:last-child,
.ui-table .ui-table-unfrozen-view .ui-table-thead > tr > th:last-child {
    border-right: none;
}

// // .ui-table .ui-table-frozen-view .ui-table-scrollable-header,
// // .ui-table .ui-table-unfrozen-view .ui-table-scrollable-header,
// // .ui-table .ui-table-frozen-view .ui-table-scrollable-body,
// // .ui-table .ui-table-unfrozen-view .ui-table-scrollable-body {
// //     overflow: hidden;
// // }

.ui-table .ui-table-frozen-view {
    position: absolute;
}

.ui-table .ui-table-unfrozen-view {
    position: relative;
    overflow: hidden;
}

// .ui-table .ui-table-frozen-view .ui-table-scrollable-header,
// .ui-table .ui-table-frozen-view .ui-table-scrollable-body,
// .ui-table .ui-table-unfrozen-view {
//     border-right: 1px solid #c8c8c8;
// }

.ui-table .ui-table-unfrozen-view .ui-table-scrollable-header-table,
.ui-table .ui-table-unfrozen-view .ui-table-scrollable-body-table {
    outline: 1px solid #c8c8c8;
}

.ui-table .ui-table-frozen-view {
    border-top: 1px solid #c8c8c8;
}

.ui-table .ui-table-unfrozen-view {
    border: 1px solid #c8c8c8;
    background-color: #f6f6f6;
}

.ui-table .ui-paginator {
    border: none;
    margin-top: 5px;
    background-color: #ffffff;
}
